@model AdminEditSellerViewModel
@inject ISellerRepository _sellerRepository

@{
    ViewBag.Title = "Edit Seller";
    var photoPath = "~/img/Profile/" + (Model.ExisitingProfilePhotoPath ?? "default.jpg");
    var bannerPath = "~/img/Cover/" + (Model.ExisitingBannerPhotoPath ?? "default.jpg");
}

<h3>Create New Seller</h3>

<br />

<div class="text-right">
    <a asp-controller="Seller" asp-action="AdminIndex" class="btn btn-primary">Back</a>
</div>

<br />
<form enctype="multipart/form-data" asp-controller="Seller" asp-action="AdminEditSeller" method="post">

    <div asp-validation-summary="All" class="text-danger"></div>
    <input hidden asp-for="Id" />
    <input hidden asp-for="ExisitingProfilePhotoPath" />
    <input hidden asp-for="ExisitingBannerPhotoPath" />

    <div class="form-row">
        <div class="form-group col-md-6">
            <label asp-for="BusinessName"></label>
            <input asp-for="BusinessName" class="form-control" />
            <span asp-validation-for="BusinessName" class="text-danger"></span>
        </div>
        <div class="form-group col-md-6">
            <label asp-for="InChargePerson"></label>
            <input asp-for="InChargePerson" class="form-control" />
            <span asp-validation-for="InChargePerson" class="text-danger"></span>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label asp-for="Country"></label>
            <select class="form-control" asp-for="Country" asp-items="Html.GetEnumSelectList<EnumCountry>()">
                <option value="">Please Select...</option>
            </select>
            <span asp-validation-for="Country" class="text-danger"></span>
        </div>
        <div class="form-group col-md-6">
            <label asp-for="Location"></label>
            <input asp-for="Location" class="form-control" placeholder="City" />
            <span asp-validation-for="Location" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Address"></label>
        <input asp-for="Address" class="form-control" placeholder="Full Address including Door number" />
        <span asp-validation-for="Address" class="text-danger"></span>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label asp-for="Telephone"></label>
            <input asp-for="Telephone" class="form-control" />
            <span asp-validation-for="Telephone" class="text-danger"></span>
        </div>
        <div class="form-group col-md-6">
            <label asp-for="Mobile"></label>
            <input asp-for="Mobile" class="form-control" />
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label asp-for="Email"></label>
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="form-group col-md-6">
            <label asp-for="Web"></label>
            <input asp-for="Web" class="form-control" />
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-4">
            <label asp-for="PlatformCharge"></label>
            <input asp-for="PlatformCharge" class="form-control" />
        </div>
        <div class="form-group col-md-4">
            <label asp-for="RegistredDate"></label>
            <input type="date" asp-for="RegistredDate" class="form-control" />
            <span asp-validation-for="RegistredDate" class="text-danger"></span>
        </div>
        <div class="form-group col-md-4">
            <label asp-for="SalesGoodType"></label>
            <select class="form-control" asp-for="SalesGoodType" asp-items="Html.GetEnumSelectList<EnumSalesGoodType>()">
                <option value="">Please Select...</option>
            </select>
            <span asp-validation-for="SalesGoodType" class="text-danger"></span>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label asp-for="ProfilePic"></label>
            <div class="custom-file">
                <input asp-for="ProfilePic" class="form-control custom-file-input" />
                <label class="custom-file-label">Click here to change photo...</label>
            </div>
        </div>
        <div class="form-group col-md-6">
            <label asp-for="BannerPic"></label>
            <div class="custom-file">
                <input asp-for="BannerPic" class="form-control custom-file-input" />
                <label class="custom-file-label">Click here to change photo...</label>
            </div>
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-6">
            <img src="@photoPath" class="img-thumbnail"/>
        </div>
        <div class="form-group col-md-6">
            <img src="@bannerPath" class="img-thumbnail" />
        </div>
    </div>

    <div class="form-group">
        <label asp-for="Description"></label>
        <input asp-for="Description" class="form-control" placeholder="Full Address including Door number" />
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Update Changes</button>
    <a asp-controller="seller" asp-action="index" class="btn btn-danger">Cancel</a>

    @section Scripts{
        <script>
            $(document).ready(function () {
                $('.custom-file-input').on("change", function () {
                    var fileName = $(this).val().split("\\").pop();
                    $(this).next('.custom-file-label').html(fileName);
                });
            });
        </script>
    }

</form>