@model IEnumerable<Seller>

<h3>Available Shops</h3>


<div class="card-deck">
    @foreach(var seller in Model)
    {
    <div class="card mb-3" style="max-width: 540px;">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="~/img/Profile/default.jpg" style="width:200px; height:240px" asp-append-version="true">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">@seller.BusinessName</h5>
                    <p class="card-text">@seller.Description</p>
                    <p class="card-text"><small class="text-muted">Location : @seller.Location - Since : @seller.RegistredDate </small></p>
                    <a href="#" class="btn btn-success">Show now</a>
                </div>
            </div>
        </div>
    </div>
    }
</div>

