@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to DR-Lanka</h1>
    <p>Site Under Development</p>
</div>

<img src="~/img/HomeSlide/spices-and-allied-products.jpg" class="img-fluid" alt="Responsive image">

